BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Custom
NamespaceIndentation: All
AccessModifierOffset: -4
AllowShortEnumsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping:
    AfterControlStatement: false
    AfterClass: false
    AfterFunction: false
    AfterStruct: false
    AfterEnum: false
    AfterNamespace: false
    BeforeElse: true
    BeforeCatch: true
